nav{
  width: 100%;
  height: 88px;
  color: #222222;
  padding: 4px 0;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 5px
}

nav ul li {
  display: inline-block;
  margin: 5px 20px;
  font-size: 16px;
  list-style: none;
  font-family: 'AvenirLTStd', sans-serif;
}

.dark-nav{
  background: #fff;
  transition: 0.5s;
}
