@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'AvenirLTStd';
  src: url('../src/assets/fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd';
  src: url('../src/assets/fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd';
  src: url('../src/assets/fonts/AvenirLTStd-Heavy.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd';
  src: url('../src/assets/fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: #43543B;
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'AvenirLTStd', sans-serif;
}

.btn img{
  width: 20px;
  margin-left: 20px;
}

.btn.dark-btn {
  background: #44A417;
  color: white;
}

.btn.dark-btn:hover {
  background: #171616;
  color: white;
}

.btn:hover{
  transform: translateY(-2px);
  transition: all 0.3s ease;
  background-color: #44A417;
  color: #F5F5F5;
}